<div xmlns:th="http://www.thymeleaf.org" th:insert="layout/layout :: layout">
</div>
	<main>
		<form action="insert_client.act" method="post">
			<input type="text" placeholder="nom" name="nom" required /><br/>
			<input type="email" placeholder="email" name="email" required /><br/>
			<input type="text" placeholder="prenom" name="prenom" required /><br/>
			<input type="text" placeholder="addresse" name="addresse" required /><br/>
			<input type="text" placeholder="telephone" name="telephone" required /><br/>
			<select  name="id_village" th:each="village:${villages}"  required>
					<option th:value="${village.id}" th:text="${village.nom}"></option>
			</select>
			<div class="buttons">
				<input type="submit" value="ENREGISTRER" /><input type="reset" value="ANNULER" />
			</div>
		</form>
	</main>
<div xmlns:th="http://www.thymeleaf.org" th:insert="layout/footer :: footer"></div>