<div xmlns:th="http://www.thymeleaf.org" th:insert="layout/layout :: layout">
</div>
	<main>
		<h1 style="text-align:center;">INSERTION CLIENT</h1>
		<form xmlns:th="http://www.thymeleaf.org" th:action="@{/addClient}" th:object="${client}" method="post">
			<input type="text" placeholder="nom" th:field="*{nom}" required /><br/>
			<input type="email" placeholder="email" th:field="*{email}" required /><br/>
			<input type="text" placeholder="prenom" th:field="*{prenom}" required /><br/>
			<input type="text" placeholder="addresse" th:field="*{adresse}" required /><br/>
			<input type="text" placeholder="telephone" th:field="*{telephone}" required /><br/>
			<select  name="id_village"   required>
					<option th:each="village: ${villages}" th:value="${village.id}" th:text="${village.nom}"></option>
			</select>
			<div class="buttons">
				<input type="submit" value="ENREGISTRER" /><input type="reset" value="ANNULER" />
			</div>
		</form>
	</main>
<div xmlns:th="http://www.thymeleaf.org" th:insert="layout/footer :: footer"></div>