<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"  th:href="@{css/login.css}"/>
<link rel="shortcut icon" th:href="@{asset/favicon.ico}">
<link rel="icon" th:href="@{asset/favicon.ico}" type="image/x-icon">
<title>LOGIN | PAGE </title>
</head>
<body>
	<div class="body_tert">
		<div class="left">
			<img th:src="@{asset/logo_senForage.png}" alt="forage image" />
		</div>
		<div class="right">
			<form action="login" method="post">
				<input type="text" placeholder="login" name="username" required/><br/><br/><br/>
				<input type="password" placeholder="password" name="password" required/>
				<input type="submit" value="SE CONNECTER" />
			</form>
		</div>
	</div>
</body>
</html>