<div xmlns:th="http://www.thymeleaf.org" th:insert="layout/layout :: layout"></div>
	<main>
	<h1>INSERTION VILLAGE</h1>
		<form action="village.act" method="post">
			<input type="text" placeholder="libelle" name="libelle" required /><br/>
			<input type="text" placeholder="localisation" name="localisation" required /><br/>
			<div class="buttons">
			<input type="submit" value="ENREGISTRER" /><input type="reset" value="ANNULER" />
			</div>
		</form>
	</main>
<div xmlns:th="http://www.thymeleaf.org" th:insert="layout/footer :: footer"></div>